<nav class="nav navbar-inverse" id="footer-social">
	<ul class="nav navbar-nav">
		<li>
			<a class="facebook" target="_blank" href="#i18n{peps.site.portal_footer.linkFacebook}" title="#i18n{peps.site.portal_footer.titleFacebook}">
			</a>
		</li>
		<li>
			<a class="twitter" target="_blank" href="#i18n{peps.site.portal_footer.linkTwitter}" title="#i18n{peps.site.portal_footer.titleTwitter}">
			</a>
		</li>
		<li>
			<a class="contact" href="#i18n{peps.site.portal_footer.linkMail}" title="#i18n{peps.site.portal_footer.titleMail}">
			</a>
		</li>
	</ul>
</nav>
<nav class="nav navbar-inverse" id="footer-peps">
	<ul class="nav navbar-nav">
		<li>
		   	<a class="navbar-brand" href="http://www.paris.fr/" title="[#i18n{peps.site.portal.newWindow}] #i18n{peps.site.portal_footer.labelParent}" target="_blank">
	   			<img src="images/logo_paris_small.png" alt="#i18n{peps.site.portal_footer.altLogoParent}" />
			</a>
		</li>
	    <li>
	        <a href="#">#i18n{peps.site.portal_footer.labelFAQ}</a>
	    </li>
	    <li>
	        <a href="#">#i18n{peps.site.portal_footer.labelDisclaimer}</a>
	    </li>
	    <li>
	        <a href="#">#i18n{peps.site.portal_footer.labelContact}</a>
	    </li>
	   	<li>
	        <a href="#">#i18n{peps.site.portal_footer.labelTermsOfService}</a>
	    </li>
	</ul>
</nav>
